name: Sync README

on:
  schedule:
    - cron: '0 0 * * *'  # Run daily at midnight UTC
  workflow_dispatch:  # Allow manual trigger

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Set up Kotlin
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run sync-readme.kts
        run: kotlin scripts/sync-readme.main.kts

      # Change my repository name in "temp/README.md" can make your document broken, so CREAFULLY
      - name: Your fork, your documentation
        run: |
          sed -i 's|sang765/ArchiveTune|${{ github.repository }}|g' README.md

      - name: Check for changes and commit
        run: |
          if git diff --quiet README.md; then
            echo "No changes to README.md"
          else
            git config --global user.name 'github-actions[bot]'
            git config --global user.email 'github-actions[bot]@users.noreply.github.com'
            git add README.md
            git commit -m "ci(docs): Sync README.md content from https://github.com/koiverse/ArchiveTune"
            git push
          fi
